<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <appSettings>

        <!-- Файлы сохраняются в папке storage - не очищается при повторном запуске. Рекомендуется очищать, иначе файлы перезаписываются -->
        <add key="FilesDirectory" value="storage"/>
        <!-- При созданий файлов соблюдать файловую струткуру с датами -->
        <add key="CreateFilesWithDateStructure" value="false"/>

        <!-- Уже скачанные коды записываются в этот файл.  -->
        <!-- Нужно для продолжения процесса скачивания при повторном запуске.  -->
        <!-- !Рекомендуется очищать при новом запуске. Т.к. эти записи попадают в игнор -->
        <add key="DownloadBarcodesFile" value="DownloadBarcodes.txt"/>

        <!-- Файл со штрих-кодами для скачивания -->
        <add key="BarcodesFile" value="barcodes.txt"/>

        <!-- Сюда пишутся не найденные в ЭА штрих-коды -->
        <add key="NotDownloadBarcodesFile" value="NotDownloadBarcodes.txt"/>

        <!-- Сюда пишутся штрих-коды вызвавшие ошибки при скачивании-->
        <add key="ExceptionOnDownloadBarcodesFile" value="ExceptionOnDownloadBarcodes.txt"/>

        <!-- Размер порций получения путей файлов -->
        <add key="BatchSize" value="40"/>

        <!--Все провереные пути кешируются в файле - очистить, если нужно актуализировать данные -->
        <add key="FileRoutesInEa" value="fileroutes.txt"/>

        <!--Файл для хранения значений штрих-кодов, найденных в ЭА -->
        <add key="FoundedBarcodesInEa" value="FoundedBarcodesInEa.txt"/>
        
        <!-- Все штрих-коды побывавшие в запросе на наличие в Эа -->
        <add key="CheckedToExistance" value="CheckedToExistance.txt"/>

        <!-- <add key="Link" value="http://fkrea.fond-mos.local/"/> -->
        <add key="Link" value="http://195.9.225.34/"/>
        <add key="Domain" value="111"/>
        <add key="Login" value="111"/>
        <add key="Password" value="111"/>
    </appSettings>
</configuration>
